<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <!-- Title and other stuffs -->
  <title>登陆页面</title> 
   <!-- JS -->
  <script src="${ctxPath}/static/js/jquery-1.10.2.js"></script>
  <script src="${ctxPath}/static/js/jquery.tips.js"></script>
  <script src="${ctxPath}/static/js/bootstrap.js"></script>
  
  <!-- Stylesheets -->
  <link rel="stylesheet" href="${ctxPath}/static/style/bootstrap.css">
 <!--  <link rel="stylesheet" href="${ctxPath}/static/style/font-awesome.css"> -->
   <link rel="stylesheet" href="${ctxPath}/static/font-awesome-4.7.0/css/font-awesome.css">
  <link rel="stylesheet" href="${ctxPath}/static/style/style.css">
  <!-- HTML5 Support for IE -->
  <!--[if lt IE 9]>
  <script src="js/html5shim.js"></script>
  <![endif]-->
  <!-- Favicon -->
</head>

<body>

<!-- Form area -->
<div class="admin-form">
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <!-- Widget starts -->
            <div class="widget worange">
              <!-- Widget head -->
              <div class="widget-head">
                 <i class="fa fa-lock"></i> 登陸 
              </div>

              <div class="widget-content">
                <div class="padd">
                  <!-- Login form -->
                  <form class="form-horizontal">
                    <!-- Email -->
                    <div class="form-group">
                      <label class="control-label col-lg-3" for="username">账号名</label>
                      <div class="col-lg-9">
                        <input type="text" class="form-control" id="username" placeholder="请输入应用id">
                      </div>
                    </div>
                    <!-- Password -->
                    <div class="form-group">
                      <label class="control-label col-lg-3" for="password">密码</label>
                      <div class="col-lg-9">
                        <input type="password" class="form-control" id="password" placeholder="请输入秘钥">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-lg-3" for="userType">用户类型</label>
                      <div class="col-lg-9">
                         	企业<input type="radio" name="userType" value="company" checked="checked"/>  
						            用户<input type="radio" name="userType" value="personal"/>  
                      </div>
                    </div>
                    <!-- Remember me checkbox and sign in button -->
                        <div class="col-lg-9 col-lg-offset-2">
							<button type="button" class="btn btn-danger" onclick="severCheck();">登陆</button>
							<button type="reset" class="btn btn-default">重置</button>
						</div>
                    <br />
                  </form>
				</div>
                </div>
                <div class="widget-foot">
                  没有注册？<a href="${ctxPath}/register">点我注册</a>
                </div>
            </div>  
      </div>
    </div>
  </div> 
</div>
</body>
<script type="text/javascript">
$(function(){
	$("#username,#password").keydown(function(e){
		if(e.keyCode==13){
			severCheck();
		}
	});
});
//服务器校验
function severCheck(){
	if(check()){
		username = $('#username').val();
		password = $('#password').val();
		userType = $("input[name='userType']:checked").val();//获取选中项的值
		$.ajax({
			//async:false,
			type: "POST",
			url: '${ctxPath}/loginCheck',
	    	data: {
	    		username:username,
	    		password:password,
	    		userType:userType
	    	},
			dataType:'json',
			success: function(data){ 
				 if(undefined != data.error){
						$t = $("#username");
						$t.tips({
							side : 2,
							msg : data.error,
							bg : '#4F4F4F',
							time : 3
						});
						$t.focus();
				 }else{
				 	alert("登录成功！")
					 window.location.href = "${ctxPath!}/index";
				 }
			}
		});
	}
}
//客户端校验
function check() {
	if ($("#username").val() == "") {
		$("#username").tips({
			side : 2,
			msg : '用户名不得为空',
			bg : '#4F4F4F',
			time : 3
		});
		$("#username").focus();
		return false;
	}else {
		$("#username").val(jQuery.trim($('#username').val()));
	}
	if ($("#password").val() == "") {
		$("#password").tips({
			side : 2,
			msg : '密码不得为空',
			bg : '#4F4F4F',
			time : 3
		});

		$("#password").focus();
		return false;
	}
	return true;
}
	
</script>
</html>