
<div class="widget wgreen">
	<div class="widget-content">
		<div class="padd">
			<table class="table table-striped table-bordered table-hover nomargin-bottom" style="border-collapse:separate; border-spacing:10px;width: 95%">
			<tr>
				<td>公链钱包地址:</td>
				<td>${detail.addr}</td>
			</tr>
			<tr>
				<td>公链编码:</td>
				<td>${detail.chainCode} </td>
			</tr>
			<tr>
				<td>用户钱包地址:</td>
				<td>${detail.walletAddr}</td>
			</tr>
			<tr>
				<td>用户id:</td>
				<td>${detail.userId} </td>
			</tr>
		</table>
		<div>
			<div class="form-group">
				<label class="col-lg-4 control-label">角色名</label>
				<div class="col-lg-8">
					<input type="text" name="name" class="form-control">
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-4 control-label">备注</label>
				<div class="col-lg-8">
					<input type="text" name="remark" value="${role.remark!}" class="form-control">
				</div>
			</div>
		</div>
		</div>
	</div>
</div>